<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head('ユーザ一覧 - Skygarden')}"></head>
<body>
    <!-- Sidebar -->
    <nav th:replace="~{fragments/common :: sidebar}"></nav>
    
    <!-- Header (Mobile) -->
    <nav th:replace="~{fragments/common :: header}"></nav>
    
    <!-- Offcanvas Menu (Mobile) -->
    <div th:replace="~{fragments/common :: offcanvas}"></div>
    
    <main>
        <section class="sky-list-container sky-section">
            <h1 class="ms-1 mb-3">ユーザ一覧</h1>
            <div th:if="${registerMessage != null and registerMessage != ''}" class="ms-2" th:text="${registerMessage}"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 mb-3 ms-auto sky-button-newCreate">
                    <a th:href="@{/user}">
                        <button class="btn btn-warning w-100 sky-bg-4">
                            <span>newCreate</span>
                        </button>
                    </a>
                </div>
            </div>
            <div th:each="result : ${results}">
                <a th:href="@{'/user?id=' + ${result.id}}">
                    <div class="sky-list-card">
                        <p class="mb-0">ID: <span th:text="${result.id}"></span></p>
                        <h3 class="mb-1" th:text="${result.name}"></h3>
                        <div class="mb-0 d-flex justify-content-between">
                            <div>email: <span th:text="${result.email}"></span></div>
                            <div>admin: <span th:text="${result.admin}"></span></div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
    
    <!-- Footer -->
    <footer th:replace="~{fragments/common :: footer}"></footer>
</body>
</html>
