<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.skygarden.mapper.ContentMapper">

	<resultMap id="HashMapResultMap" type="java.util.HashMap">
		<result column="id" property="id" javaType="String"/>
		<result column="name" property="name" javaType="String"/>
		<result column="password" property="password" javaType="String"/>
		<result column="email" property="email" javaType="String"/>
		<result column="admin" property="admin" javaType="String"/>
		<result column="title" property="title" javaType="String"/>
		<result column="url" property="url" javaType="String"/>
		<result column="head" property="head" javaType="String"/>
		<result column="content" property="content" javaType="String"/>
		<result column="type" property="type" javaType="String"/>
		<result column="elementcolor" property="elementcolor" javaType="String"/>
		<result column="template" property="template" javaType="String"/>
		<result column="created" property="created" javaType="String"/>
		<result column="updated" property="updated" javaType="String"/>
		<result column="created_by" property="created_by" javaType="String"/>
		<result column="updated_by" property="updated_by" javaType="String"/>
		<result column="schedule_published" property="schedule_published" javaType="String"/>
		<result column="schedule_unpublished" property="schedule_unpublished" javaType="String"/>
		<result column="publishflg_keep" property="publishflg_keep" javaType="String"/>
		<result column="value" property="value" javaType="String"/>
	</resultMap>

	<select id="getUser" resultMap="HashMapResultMap">
		SELECT id, name, password, email, admin FROM user WHERE name = #{name}
	</select>

	<select id="getUserById" resultMap="HashMapResultMap">
		SELECT id, name, password, email, admin FROM user WHERE id = #{id}
	</select>

	<insert id="createUser">
		INSERT INTO user(name, password, email, admin) VALUE(#{name}, #{password}, #{email}, #{admin})
	</insert>

	<update id="updateUser">
		UPDATE user set name = #{name}, password = #{password}, email = #{email}, admin = #{admin} WHERE id = #{id}
	</update>

	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO content (created, updated, created_by, updated_by, url, title, head, content, type, elementcolor, template, schedule_published, schedule_unpublished, publishflg_keep) 
		VALUE(#{created}, #{updated}, #{created_by}, #{updated_by}, #{url}, #{title}, #{head}, #{content}, #{type}, #{elementcolor}, #{template}, #{schedule_published}, #{schedule_unpublished}, #{publishflg_keep})
	</insert>

	<insert id="createPublic">
		INSERT INTO content_public (id, created, updated, created_by, updated_by, url, title, head, content, type, elementcolor, template, schedule_published, schedule_unpublished, publishflg_keep) 
		VALUE(#{id}, #{created}, #{updated}, #{created_by}, #{updated_by}, #{url}, #{title}, #{head}, #{content}, #{type}, #{elementcolor}, #{template}, #{schedule_published}, #{schedule_unpublished}, #{publishflg_keep})
	</insert>

	<update id="update">
		UPDATE content set updated = #{updated}, updated_by = #{updated_by}, url = #{url}, title = #{title}, head = #{head}, content = #{content}, type = #{type}, elementcolor = #{elementcolor}, template = #{template}, schedule_published = #{schedule_published}, schedule_unpublished = #{schedule_unpublished}, publishflg_keep = #{publishflg_keep} WHERE id = #{id}
	</update>

	<update id="updatePublic">
		UPDATE content_public set updated = #{updated}, updated_by = #{updated_by}, url = #{url}, title = #{title}, head = #{head}, content = #{content}, type = #{type}, elementcolor = #{elementcolor}, template = #{template}, schedule_published = #{schedule_published}, schedule_unpublished = #{schedule_unpublished}, publishflg_keep = #{publishflg_keep} WHERE id = #{id}
	</update>

	<select id="search" resultMap="HashMapResultMap">
		SELECT * FROM ${table} WHERE id = #{id}
	</select>

	<select id="searchByUrl" resultMap="HashMapResultMap">
		SELECT * FROM ${table} WHERE url = #{url}
	</select>

	<select id="searchContentByAttribute" resultType="String">
		SELECT ${attribute} FROM ${table} WHERE id = #{id}
	</select>

	<select id="selectAll" resultMap="HashMapResultMap">
		<choose>
			<when test="table == 'user'">
				SELECT * FROM ${table} ORDER BY id
			</when>
			<when test="sort != null and sort != ''">
				SELECT * FROM ${table} WHERE type = #{type} ORDER BY ${sort}
			</when>
			<when test="table == 'content'">
				SELECT * FROM ${table} WHERE type = #{type} ORDER BY updated desc
			</when>
		</choose>
	</select>

	<select id="selectAllLimit" resultMap="HashMapResultMap">
		<choose>
			<when test="table == 'user'">
				<choose>
					<when test="sort != null and sort != ''">
						SELECT * FROM ${table} ORDER BY ${sort} LIMIT #{limit} OFFSET #{offset}
					</when>
					<otherwise>
						SELECT * FROM ${table} ORDER BY id LIMIT #{limit} OFFSET #{offset}
					</otherwise>
				</choose>
			</when>
			<when test="sort != null and sort != ''">
				SELECT * FROM ${table} WHERE type = #{type} ORDER BY ${sort} LIMIT #{limit} OFFSET #{offset}
			</when>
			<when test="table == 'content'">
				SELECT * FROM ${table} WHERE type = #{type} ORDER BY updated desc LIMIT #{limit} OFFSET #{offset}
			</when>
		</choose>
	</select>

	<select id="getLastId" resultType="int">
		SELECT MAX(id) as maxid from content
	</select>

	<select id="getContentSize" resultType="int">
		<choose>
			<when test="table == 'user'">
				SELECT COUNT(id) as contentSize from ${table}
			</when>
			<otherwise>
				SELECT COUNT(id) as contentSize from ${table} WHERE type = #{type}
			</otherwise>
		</choose>
	</select>

	<update id="updateSetting">
		UPDATE config set value = #{value} WHERE name = #{name}
	</update>

	<select id="getElementColor" resultType="String">
		SELECT value FROM config WHERE name = 'elements-color-value'
	</select>
	
	<select id="getSettingByName" resultType="String">
		SELECT value FROM config WHERE name = #{name}
	</select>

	<select id="getUrlList" resultMap="HashMapResultMap">
		SELECT id, url FROM content WHERE url &lt;&gt; '' ORDER BY url
	</select>

	<delete id="delete">
		DELETE FROM ${table} WHERE id = #{id}
	</delete>

	<select id="searchByKeyword" resultMap="HashMapResultMap">
		SELECT * FROM ${table} WHERE type = #{type}
		<if test="keyword != null and keyword != ''">
			AND (title LIKE CONCAT('%', #{keyword}, '%')
			OR url LIKE CONCAT('%', #{keyword}, '%')
			OR content LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<choose>
			<when test="sort != null and sort != ''">
				ORDER BY ${sort}
			</when>
			<otherwise>
				ORDER BY updated desc
			</otherwise>
		</choose>
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<select id="getContentSizeByKeyword" resultType="int">
		SELECT COUNT(id) as contentSize FROM ${table} WHERE type = #{type}
		<if test="keyword != null and keyword != ''">
			AND (title LIKE CONCAT('%', #{keyword}, '%')
			OR url LIKE CONCAT('%', #{keyword}, '%')
			OR content LIKE CONCAT('%', #{keyword}, '%'))
		</if>
	</select>

	<select id="getSchedulePublishedIds" resultMap="HashMapResultMap">
		SELECT id FROM content WHERE schedule_published &lt;= #{now} AND schedule_published &lt;&gt; '' AND schedule_published IS NOT NULL
	</select>

	<select id="getScheduleUnpublishedIds" resultMap="HashMapResultMap">
		SELECT id FROM content WHERE schedule_unpublished &lt;= #{now} AND schedule_unpublished &lt;&gt; '' AND schedule_unpublished IS NOT NULL
	</select>

	<update id="clearSchedulePublished">
		UPDATE content set schedule_published = '' WHERE id = #{id}
	</update>

	<update id="clearScheduleUnpublished">
		UPDATE content set schedule_unpublished = '' WHERE id = #{id}
	</update>

</mapper>
